.divcontent-linkExt { 
    position: relative;
    display: inline-block; 
}

.divcontent-linkExt a:hover {
    color: #ffffff;   
    
}
.divcontent-linkExt::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #3816fd 50%, transparent 50%);
    z-index: 0;     
    transition: all 0.3s ease; 
    opacity: 0; 
}
.divcontent-linkExt:hover::before {
    opacity: 1;
}
.divcontent-linkExt a {
    color: #ffffff;
    position: relative;
    z-index: 1;
}